.header-img {
    height: 75px;
    object-fit: cover;
}

.header-section {
    padding: 10px 20px;
    background-color: rgb(86, 41, 99);
}

.header-section span {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.header-section-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: rgb(64, 53, 95);
    z-index: 2;
}

.title-section h1 {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.title-section button {
    background-color: rgb(64, 53, 95);
    font-size: 24px;
    border: solid;
    border-color: rgb(144, 55, 168);
    border-radius: 12px;
    color: white;
    font-family: "Bungee", sans-serif;
    padding: 10px 5px;
}

.title-section button:hover {
    background-color: rgb(140, 94, 153);
    color: white;
}

.title-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.main-section {
    flex: 1;
}

.header-content-limit {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.render-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.render-section :hover {
    transform: scale(1.025);
    border-color: white;
}

.content-limit-footer {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

footer {
    padding: 16px;
    background-color: rgb(86, 41, 99);
}

footer span {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.img-footer {
    height: 75px;
}

.current {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

.search-bar {
    font-size: 24px;
    border: solid;
    border-radius: 8px;
    border-color: rgb(144, 55, 168);
    background-color: rgb(64, 53, 95);
    color: white;
}