.header-img {
    height: 75px;
    object-fit: cover;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(86, 41, 99);
}

.header-section span {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.header-section-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 16px;
}

.title-section h1 {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.title-section button {
    background-color: rgb(64, 53, 95);
    font-size: 24px;
    border: solid;
    border-color: rgb(144, 55, 168);
    border-radius: 12px;
    color: white;
    font-family: "Bungee", sans-serif;
    padding: 10px 5px;
}

.title-section button:hover {
    background-color: rgb(140, 94, 153);
    color: white;
}

.main-section {
    flex: 1;
}

.render-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    background-color: rgb(86, 41, 99);
    gap: 12px;
}

footer span {
    font-family: "Jersey 25", sans-serif;
    font-size: 52px;
}

.img-footer {
    height: 75px;
}

.current {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

.grass {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(47, 122, 28),
            rgb(55, 145, 33) 18%,
            rgb(55, 145, 33) 18%,
            rgb(47, 122, 28) 18%);
}

.grass button {
    color: white;
}

.fire {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(172, 60, 60),
            rgb(201, 70, 70) 18%,
            rgb(201, 70, 70) 18%,
            rgb(172, 60, 60) 18%);
}

.fire button {
    color: white;
}

.water {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(28, 84, 122),
            rgb(36, 103, 148) 18%,
            rgb(36, 103, 148) 18%,
            rgb(28, 84, 122) 18%);
}

.water button {
    color: white;
}

.electric {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(252, 188, 0),
            rgb(248, 212, 10) 18%,
            rgb(248, 212, 10) 18%,
            rgb(252, 188, 0) 18%);
}

.electric button {
    color: white;
}

.poison {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(118, 60, 136),
            rgb(145, 74, 167) 18%,
            rgb(145, 74, 167) 18%,
            rgb(118, 60, 136) 18%);
}

.poison button {
    color: white;
}

.default {
    background: repeating-linear-gradient(45deg,
            rgb(175, 175, 175),
            rgb(202, 202, 202) 18%,
            rgb(202, 202, 202) 18%,
            rgb(175, 175, 175) 18%);
}