.grass {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(47, 122, 28),
            rgb(55, 145, 33) 18%,
            rgb(55, 145, 33) 18%,
            rgb(47, 122, 28) 18%);
}

.grass button {
    color: white;
}

.fire {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(172, 60, 60),
            rgb(201, 70, 70) 18%,
            rgb(201, 70, 70) 18%,
            rgb(172, 60, 60) 18%);
}

.fire button {
    color: white;
}

.water {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(28, 84, 122),
            rgb(36, 103, 148) 18%,
            rgb(36, 103, 148) 18%,
            rgb(28, 84, 122) 18%);
}

.water button {
    color: white;
}

.electric {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(252, 188, 0),
            rgb(248, 212, 10) 18%,
            rgb(248, 212, 10) 18%,
            rgb(252, 188, 0) 18%);
}

.electric button {
    color: white;
}

.poison {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(118, 60, 136),
            rgb(145, 74, 167) 18%,
            rgb(145, 74, 167) 18%,
            rgb(118, 60, 136) 18%);
}

.poison button {
    color: white;
}

.dark {
    color: white;
    background: repeating-linear-gradient(45deg,
            rgb(17, 17, 17),
            rgb(49, 49, 49) 18%,
            rgb(49, 49, 49) 18%,
            rgb(17, 17, 17) 18%);
}

.dark button {
    color: white;
}

.default {
    background: repeating-linear-gradient(45deg,
            rgb(175, 175, 175),
            rgb(202, 202, 202) 18%,
            rgb(202, 202, 202) 18%,
            rgb(175, 175, 175) 18%);
}