.pokemon-small {
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    margin: 4px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    max-width: 168px;
}

.pokemon-img-small {
    height: 150px;
    object-fit: cover;
}

.type-section {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 8px;
}

.pokemon-type {
    border: solid;
    border-color: rgba(255, 255, 255, 0.199);
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 8px;
    font-size: 16px;
    padding: 4px;
    font-weight: 500;
}

.stats-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.label-section label {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.label-section progress {
    width: 250px;
    height: 18px;
}

.poke-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border-radius: 28px;
    font-family: "Space Grotesk", sans-serif;
}

.dialog-img {
    height: 300px;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 16px;
}

.dialog-nav button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
}

.dialog-nav button:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

.evo-img {
    height: 75px;
    aspect-ratio: 1;
    object-fit: contain;
}

.evo-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
}

.evo-arrow {
    font-size: 30px;
    margin: 0px 8px;
}

.dialog-types-section {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}

.hide {
    display: none !important;
}

.noResult {
    margin: 40px 20px;
    font-size: 40px;
    font-family: "Jersey 25", sans-serif;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid floralwhite;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.column-reverse {
    flex-direction: column-reverse !important;
}

.loading-section span {
    font-size: 32px;
    font-family: "Jersey 25", sans-serif;
}

.move-section {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dialog-caption-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-caption-section button {
    background-color: rgb(64, 53, 95);
    font-size: 24px;
    border: solid;
    border-color: rgb(144, 55, 168);
    border-radius: 12px;
    color: white;
    padding: 2px 6px;
    cursor: pointer;
}

.dialog-caption-section button:hover {
    background-color: rgb(140, 94, 153);
}

.dialog-button-section {
    display: flex;
    gap: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {}

    50% {}

    75% {}

    100% {
        transform: rotate(360deg);
    }
}

.dialog-h2 {
    margin-bottom: 8px;
}

.td-left {
    padding-right: 12px;
    font-weight: bold;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
}