.pokemon-small {
    border: solid;
    border-radius: 12px;
    margin: 4px;
}

.pokemon-img-small {
    height: 100px;
    object-fit: cover;
}

.type-section {
    display: flex;
    justify-content: center;
    gap: 5px;
}