@media(max-width:800px) {
    .dialog-nav button {
        font-size: 20px;
    }
}


@media(max-width:450px) {
    .poke-dialog {
        padding: 10px;
    }

    .dialog-img {
        height: 200px;
    }

    .dialog-nav button {
        padding: 0px 2px;
    }

    .evo-arrow {
        font-size: 20px;
    }
}